.arrowUp {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  margin-left: 40px;
  border-bottom: 40px solid;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  margin-left: 40px;
  border-top: 40px solid;
}

.arrowRight {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-left: 40px solid;
}

.arrowLeft {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-right: 40px solid;
}

.arrowDivider {
  width: 80px;
  height: 80px;
}

.disableUp {
  border-bottom-color: rgb(107 114 128);
}
.disableDown {
  border-top-color: rgb(107 114 128);
}
.disableRight {
  border-left-color: rgb(107 114 128);
}
.disableLeft {
  border-right-color: rgb(107 114 128);
}
